.footer-container{
    background-color: rgb(49, 62, 75);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    g
    .footer-parrafo{
         justify-content: space-between;
        align-self: center;
        display: inline-flex;
        flex-direction: row;
        gap: 3rem;
    }
    .footer-containerIcon{
        margin: 20px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap:2rem;
    }

}