.LinksSectionGroup {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: map-get($map: $paleta, $key: 'texto-claro');
    text-align: center;
    border-bottom: 1px solid #000;  // Borde en la parte inferior
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5); 

    overflow-x: scroll;
    overflow-y: hidden;

    padding: 0;
}

.LinksSectionGroup::-webkit-scrollbar {
    height: 0;
}

.container {
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    border: solid 1px;
    border-color: map-get($map: $paleta, $key: 'secundario');
    border-radius: 10px;
    background-color: map-get($map: $paleta, $key: 'secundario');
    

   
}

.container.navLink {
    margin-left: 5px;
    height: 45px;
    color: map-get($map: $paleta, $key: 'texto-claro');
    font-size: 20px;
    border: solid 1px;
    border-color: map-get($map: $paleta, $key: 'primario');
    

}
.navIcon {
    font-size: 20px;
    margin-right: 10px;
}

.container.navLink:hover {
    background-color:map-get($map: $paleta, $key: 'primario' );
    color: white;  /* Texto blanco al hacer hover */
  }
  
@media (max-width: 1017px){
    .container {
        height: 60px;
        text-align: center;
        padding-top: 10px;
        border: solid 1px;
        border-radius: 10px;
        background-color: map-get($map: $paleta, $key: 'secundario');
        border-color: map-get($map: $paleta, $key: 'secundario');
        &:hover {
            color: map-get($map: $paleta, $key: 'texto-claro');
    
        }
    }
    
    .container.navLink {
    
        color: map-get($map: $paleta, $key: 'texto-claro');
        font-size: 15px;
    
    
    
    }
    .navIcon {
        font-size: 20px;
        margin-right: 5px;
    }
    
}

@media screen and (max-width: 895px) {
    

   
    
    .container.navLink {

        color: map-get($map: $paleta, $key: 'texto-claro');
        font-size: 15px;
        border-radius: 10%;
       
    }
  
    .navIcon {
        font-size: 15px;
        margin-left: 1px;
      
}
}
@media screen and (max-width: 740px) {
    

    .container {
        width: 100px; // Opcional: ocupar todo el ancho disponible
        
    }
    .container.navLink {

        color: map-get($map: $paleta, $key: 'texto-claro');
        font-size: 0px;
        border-radius: 100%;
       
    }
  
    .navIcon {
        font-size: 30px;
        margin-left: 5px;
      
}

}
