.navbar {
  width: 100%;
  height: 60px;

  position: sticky;
  top: 0;
  left: 0;

  padding: 0;
  margin: 0;

  .navbarTopContenedor{
    position: relative;

    display: grid;
    grid-template-areas: 'logo icono';

    justify-content: space-between;
    align-items: center;

    padding: 10px;

    width: 100%;
    height: 100%;

    color: map-get($map: $paleta, $key: 'texto-claro');
    background-color: map-get($map: $paleta, $key: 'primario');
    
    font-size: 30px;

    .logo {
      grid-area: logo;
    }

    .navIcon{
      grid-area: icono;
      
      transform: var(--mostrar, scale(0) rotate(-90deg));
      transition: .3s;
    }
  }

  .navbarList {
    width: 80%;
    height: calc(100vh - 60px);

    background-color: map-get($map: $paleta, $key: 'terceario');

    box-shadow: $sombra;

    position: fixed;
    top: 60px;
    right: var(--mostrarNav, -80%);

    display: flex;
    flex-direction: column;

    z-index: 9999;

    overflow: scroll;

    transition: .3s;

    .navbarItem {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      gap: 5px;

      padding: 20px;

      font-size: 1.5rem;
      color: map-get($map: $paleta, $key: 'texto-oscuro');

      &:active {
        background-color: rgb(159, 159, 159),;
      }
    }
  }
}

.mostrar {
  --mostrar: scale(1);
}

.open {
  --mostrarNav: 0;
}

@media (width >= 576px){
  .navbar {
    .navbarList {
      width: 50%;
    }
  }
}

@media (width >= 768px){
  .navbar {
    .navbarList {
      width: 380px;
    }
  }
}

@media (width >= 992px){
  .navbar {
    .navbarTopContenedor {
      display: none;
    }
    .navbarList {
      background-color: map-get($map: $paleta, $key: 'primario');

      width: 100%;
      height: 60px;

      position: fixed;
      top: 0;
      left: 0;

      flex-direction: row;
      justify-content: space-between;

      padding: 0px 20px;

      overflow: hidden;

      .logoDesktop {
        display: flex;
        align-items: center;

        font-size: 2rem;

        color: map-get($map: $paleta, $key: 'texto-claro');

        margin: 0 10px 0 0;
      }

      hr {
        height: 60px;

        border: none;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
      }

      .navbarItem {
        width: 100%;
        height: 60px;

        color: map-get($map: $paleta, $key: 'texto-claro');

        gap: 10px;

        padding: 10px;

        p {
          text-align: center;
          width: min-content;
        }

        &:hover {
          background-color: map-get($map: $paleta, $key: 'secundario');
        }
      }
    }
  }
}
