.navegador {
    width: 100%;
    height: 80px;
    background-color: $colorNavbar;
    display: flex;
    align-items: center;
  
    font-size: 2rem;
    padding: 0;
    margin: 0;
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
  
    .navList {
      width: 100%;
      height: 100%;
      margin-left: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .listadoNav {
        display: flex;
      }
  
      .navLink {
        text-decoration: none;
        color: $letraNavbar;
        display: flex;
       
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
        z-index: 600;
        padding: 0 1rem; // Añade un relleno para separar los enlaces
      }
    }
  
    .navIcon {
      font-size: 30px;
      margin-bottom: 0px;
      margin-right: 5px;
    }
  
    .menuIcon {
      font-size: 30px;
      cursor: pointer;
      display: none; // Oculta el icono de hamburguesa inicialmente
      color: $letraNavbar;
  
      @media (max-width: 1089px) {
        display: block; // Muestra el icono de hamburguesa cuando el ancho de la ventana es menor a 1089px
      }
    }
  
    @media (max-width: 1289px) {
     
      .menuIcon {
        display: block;
        margin-left: 20px;
       
      }
      .navList {
        display: none;

      }
      &.open {
        .navList {
          display: flex;
          flex-direction:column;
          align-items: start;
          justify-content: start;
          margin-left: 10px;
          margin-top: 350px;
          background-color: $colorNavbar;
          width: 100%;
          height: 300px;
          
         
          
        }
      }
  
      .navList .listadoNav {
        display: none;
      }
  
     
    }
  }
  